<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/acceuil" >Dari</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/acceuil">Acceuil</a></li>
      <li><a routerLink="/admin/new-logement">Dépose Votre Logement!</a></li>

    </ul>
    <div class="navbar-center">
      <ul class="nav navbar-nav navbar-right" *ngIf="authService.isAuthenticated==true">
        <li>
          {{this.authService.username}}

        </li>
        <li>
          <button (click)="handleLogout()" class="btn btn-dark btn-sm">Déconnexion</button>
        </li>
      </ul>
    </div>

  </div>
</nav>



<router-outlet>


</router-outlet>
